<div class="px-4 pt-12 pb-8">
    <div class="max-w-md mx-auto w-full">
        <div class="relative">
            <div class="absolute left-0 top-1/2 -mt-px w-full h-0.5 bg-gray-200" aria-hidden="true"></div>
            <ul class="relative flex justify-between w-full">
                <li>
                    <a class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-indigo-500 text-white"
                        href="onboarding-01.html">1</a>
                </li>
                <li>
                    <a class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-gray-100 text-gray-500"
                        href="onboarding-02.html">2</a>
                </li>
                <li>
                    <a class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-gray-100 text-gray-500"
                        href="onboarding-03.html">3</a>
                </li>
            </ul>
        </div>
    </div>
</div>