<div id="htmlData"
    class="p-8 m-auto bg-white font-sans text-base leading-6 text-center border border-solid border-zinc-100 text-neutral-600"
    style="max-width: 800px; box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;">
    <div class="bg-gray-900 pattern1 svelte-9lwh8u">
        <table class="w-full text-left border-collapse" style="border-spacing: 2px;">
            <tbody class="border-collapse" style="border-spacing: 2px;">
                <tr class="text-slate-200" style="border-spacing: 2px;">
                    <td colspan="2" class="p-1 align-top" style="border-spacing: 2px;">
                        <table class="w-full" style="border-spacing: 2px;">
                            <tbody class="" style="border-spacing: 2px;">
                                <tr class="" style="border-spacing: 2px;">
                                    <td class="block w-full text-5xl text-slate-200"
                                        style="line-height: 45px; border-spacing: 2px;">
                                        <h1 class="w-full: p-9"
                                            style="width: 100%; max-width: 500px; border-spacing: 2px; line-height: 45px;">
                                            {{org.name}}</h1>
                                    </td>
                                    <td class="block p-9 pt-0 pb-2 w-full text-right" style="border-spacing: 2px;">
                                        Factuurnummer #: 1776<br class="text-right" style="border-spacing: 2px;">
                                        Aanmaakdatum: {{invoiceData.invoiceDate | date: 'dd/MM/yyyy'}} <br class="text-right" style="border-spacing: 2px;">
                                        Betaaldatum: {{invoiceData.paymentDate | date: 'dd/MM/yyyy'}} <br class="text-right" style="border-spacing: 2px;"></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr class="text-slate-200" style="border-spacing: 2px;">
                    <td colspan="2" class="p-9 pt-3 align-top" style="border-spacing: 2px;">
                        <table class="w-full" style="border-spacing: 2px;">
                            <tbody class="" style="border-spacing: 2px;">
                                <tr class="" style="border-spacing: 2px;">
                                    <td class="block w-full text-left" style="border-spacing: 2px;">{{invoiceData.client.name}}<br class=""
                                            style="border-spacing: 2px;">
                                        {{invoiceData.client.address}}<br class="" style="border-spacing: 2px;">
                                        <br class="" style="border-spacing: 2px;">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <table class="w-full text-left border-collapse" style="border-spacing: 2px;">
        <tbody class="border-collapse" style="border-spacing: 2px;">
            <div class="p-9">
                <div class="flex flex-col mx-0 mt-8">
                    <table class="min-w-full divide-y divide-slate-800">
                        <thead>
                            <tr>
                                <th scope="col"
                                    class="py-3.5 pl-4 pr-3 text-left text-sm font-normal text-slate-800 sm:pl-6 md:pl-0">
                                    Omschrijving</th>
                                <th scope="col"
                                    class="hidden py-3.5 px-3 text-right text-sm font-normal text-slate-800 sm:table-cell">
                                    Hoeveelheid</th>
                                <th scope="col"
                                    class="hidden py-3.5 px-3 text-right text-sm font-normal text-slate-800 sm:table-cell">
                                    Prijs</th>
                                    <th scope="col" class="py-3.5 pl-3 pr-4 text-right text-sm font-normal text-slate-800 sm:pr-6 md:pr-0">
                                        BTW</th>
                                <th scope="col"
                                    class="py-3.5 pl-3 pr-4 text-right text-sm font-normal text-slate-800 sm:pr-6 md:pr-0">
                                    Totaal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="border-b border-slate-800" *ngFor="let product of invoiceProducts">
                                <td class="py-3 pl-4 pr-3 text-sm sm:pl-6 md:pl-0">
                                    <div class="font-medium text-slate-800">{{product.name}}</div>
                                </td>
                                <td class="hidden px-3 py-3 text-sm text-right text-slate-800 sm:table-cell">{{product.qty}}</td>
                                <td class="hidden px-3 py-3 text-sm text-right text-slate-800 sm:table-cell">€ {{product.price | number}}
                                </td>
                                <td class="py-3 pl-3 pr-4 text-sm text-right text-slate-800 sm:pr-6 md:pr-0"> € {{product.vatAmount | number}}
                                    ({{product.vat}}%)
                                </td>
                                            <td class="py-3 pl-3 pr-4 text-sm text-right text-slate-800 sm:pr-6 md:pr-0">€ {{product.total | number}}
                                            </td>
                            </tr>

                        </tbody>
                        <tfoot>
                            <!-- <tr>
                                <th scope="row" colspan="3"
                                    class="hidden pt-4 pl-6 pr-3 text-sm font-light text-right text-slate-800 sm:table-cell md:pl-0">
                                    Subtotal</th>
                                <th scope="row"
                                    class="pt-4 pl-4 pr-3 text-sm font-light text-left text-slate-800 sm:hidden">
                                    Subtotal</th>
                                <td class="pt-4 pl-3 pr-4 text-sm text-right text-slate-800 sm:pr-6 md:pr-0">$8000.00
                                </td>
                            </tr> -->
                            <!-- <tr>
                                <th scope="row" colspan="3"
                                    class="hidden pt-4 pl-6 pr-3 text-sm font-light text-right text-slate-800 sm:table-cell md:pl-0">
                                    Discount</th>
                                <th scope="row"
                                    class="pt-4 pl-4 pr-3 text-sm font-light text-left text-slate-800 sm:hidden">
                                    Discount</th>
                                <td class="pt-4 pl-3 pr-4 text-sm text-right text-slate-800 sm:pr-6 md:pr-0">$500.00
                                </td>
                            </tr> -->
                            <tr>
                                <th scope="row" colspan="3"
                                    class="hidden pt-4 pl-6 pr-3 text-sm font-light text-right text-slate-800 sm:table-cell md:pl-0">
                                    BTW</th>
                                <th scope="row"
                                    class="pt-4 pl-4 pr-3 text-sm font-light text-left text-slate-800 sm:hidden">BTW
                                </th>
                                <td class="pt-4 pl-3 pr-4 text-sm text-right text-slate-800 sm:pr-6 md:pr-0">€ {{invoiceData.vatAmount}}
                                </td>
                            </tr>
                        <tr>
                            <th scope="row" colspan="3"
                                class="hidden pt-4 pl-6 pr-3 text-sm font-light text-right text-slate-800 sm:table-cell md:pl-0">
                                Totaal</th>
                            <th scope="row" class="pt-4 pl-4 pr-3 text-sm font-light text-left text-slate-800 sm:hidden">Totaal
                            </th>
                            <td class="pt-4 pl-3 pr-4 text-sm text-right text-slate-800 sm:pr-6 md:pr-0"><b>€ {{invoiceData.total | number}} </b>
                            </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="mt-10 p-9">
                <div class="border-t pt-2 border-slate-800"></div>
            </div>
            <h3> Notities</h3>
            <div class="text-center mb-5"><i>{{invoiceData.footer}}</i></div>
        </tbody>
    </table>
    <table class="w-full text-left border-collapse" style="border-spacing: 2px;">
        <tbody class="border-collapse" style="border-spacing: 2px;">
            <footer class="bg-gray-900 pattern1 svelte-9lwh8u">
                <div class="container px-20 mx-auto">
                    <div class="flex flex-col items-center py-6 lg:h-[6rem] lg:flex-row">
                        <div class="lg:w-full">
                            <h3 class="text-1xl font-semibold text-slate-200">{{org.name}}</h3>
                        </div>
                        <div class="lg:w-full">
                            <h3 class="text-1xl font-semibold text-slate-200">{{org.address.streetName}},
                                {{org.address.streetNumber}}/{{org.address.streetNumber}}
                                {{org.address.postalCode}} {{org.address.city}} </h3>
                        </div>
                        <div class="lg:w-full">
                            <h3 class="text-1xl font-semibold text-slate-200">{{org.companyVat}}</h3>
                        </div>
                    </div>
                </div>
                <div class="text-center pb-2">
                    <h2 class="text-white" style="font-size: large;">Gemaakt met 🤍 door financewizard.be</h2>
                </div>
            </footer>
        </tbody>
    </table>
</div>
<button (click)="openPDF()">download</button>