<div class="page wrapper container">
    <div class="flex flex-row">
        <div class="basis-1/4">
            <button class="btn btn-wide btn-primary" routerLink="/dashboard/invoices/check"> vorige</button>
        </div>
        <div class="basis-1/2">
            <ul class="steps center">
                <li class="step">Gegevens</li>
                <li class="step">Laatste check & Genereer Factuur</li>
                <li class="step step-primary">Klaar</li>
            </ul>
        </div>
        <div class="basis-1/4">
            <button disabled class="btn btn-wide btn-primary"> Klaar</button>
        </div>
    </div>
</div>
<div class="divider">
    Klaar!
</div>

<div class="actions">
    <h2>Wat wil je nu doen?</h2>
    <button class="btn btn-primary" (click)="downloadInvoice()">Download factuur</button>
    <div class="btn btn-secundary text-black premium" disabled="disabled">
        Verzend factuur via mail
                                    <div class="badge badge-secondary">Premium</div>
</div>
</div>

 <div class="mockup-window border bg-base-100 mx-5 mt-10">
     <app-template1 [events]="eventsSubject.asObservable()" *ngIf="templateInInvoice === 1"></app-template1>
     <app-template2 [events]="eventsSubject.asObservable()" *ngIf="templateInInvoice === 2"></app-template2>
     <app-template3 [events]="eventsSubject.asObservable()" *ngIf="templateInInvoice === 3"></app-template3>
 </div>