<div class="page wrapper container">
    <div class="flex flex-row">
        <div class="basis-1/4">
            <button *ngIf="!invoiceFromStore" class="btn btn-wide btn-primary" routerLink="/dashboard/invoices/check"> {{'vorige' | translate}}</button>
                        <button *ngIf="invoiceFromStore" class="btn btn-wide btn-primary"
                            [routerLink]="['/dashboard/invoices/check/', invoiceId]"> {{'vorige' | translate}}</button>

        </div>
        <div class="basis-1/2">
            <ul class="steps center">
                <li class="step">{{'gegevens' | translate}}</li>
                <li class="step">{{'laatste_check__genereer_factuur' | translate}}</li>
                <li class="step step-primary">{{'klaar' | translate}}</li>
            </ul>
        </div>
        <div class="basis-1/4">
            <button class="btn btn-wide btn-primary" routerLink="/dashboard/invoices/overview"> {{'klaar' | translate}}</button>
        </div>
    </div>
</div>
<div class="divider">
    {{'klaar' | translate}}
</div>

<div class="actions">
    <h2>{{'wat_wil_je_nu_doen' | translate}}</h2>
    <button class="btn btn-primary" (click)="downloadInvoice()">{{'download_factuur' | translate}}</button>
    <div class="btn btn-secundary text-black premium" disabled="disabled">
        {{'verzend_factuur_via_mail' | translate}}
   <div class="badge badge-secondary">{{'premium' | translate}}</div>
</div>
</div>

 <div class="mockup-window border bg-base-100 mx-5 mt-10">
     <app-template1 [events]="eventsSubject.asObservable()" *ngIf="templateInInvoice === 1"></app-template1>
     <app-template2 [events]="eventsSubject.asObservable()" *ngIf="templateInInvoice === 2"></app-template2>
     <app-template3 [events]="eventsSubject.asObservable()" *ngIf="templateInInvoice === 3"></app-template3>
 </div>