<div class="max-w-4xl mx-auto bg-white p-8 shadow-md rounded-lg" id="htmlData3">
    <!-- Banner -->
    <div class="flex justify-between items-center bg-blue-100 border-b pb-4 mb-6 p-4 rounded">
        <div>
            <h1 class="text-3xl font-bold text-gray-800"> {{invoiceData?.invoiceName}}</h1>
            <p class="text-sm text-gray-600 pt-2">{{'factuurnummer_' | translate}}{{invoiceData?.invoiceNumber}}</p>
            <p class="text-sm text-gray-600 pt-2">{{'aanmaakdatum_' | translate}}{{invoiceData.invoiceDate | date: 'dd/MM/yyyy'}}</p>
            <p class="text-sm text-gray-600 pt-2">{{'betaaldatum_' | translate}}{{invoiceData.paymentDate | date: 'dd/MM/yyyy'}}</p>
        </div>
        <div class="text-right">
                <p *ngIf="logo === 'Nog geen logo opgeladen'"></p>
                <img *ngIf="logo !== 'Nog geen logo opgeladen'" class="h-12" [src]="logo" />
        </div>
    </div>
    <!-- Client and Company Info -->
    <div class="flex justify-between items-start mb-8">
        <div>
             
            <h2 class="text-lg font-semibold text-gray-700">{{'klantgegevens' | translate}}</h2>
                <br class="" style="border-spacing: 2px;">
            <p class="text-gray-600">{{invoiceData?.client?.name}}</p>
            <p class="text-gray-600">{{invoiceData?.client?.address?.streetName}} {{invoiceData?.client?.address?.streetNumber}} {{invoiceData?.client?.address?.busNumber}}</p>
            <p class="text-gray-600">{{invoiceData?.client?.address?.postalCode}} {{invoiceData?.client?.address?.city}}</p>
            <p class="text-gray-600">{{invoiceData?.client?.address?.country}}</p>
            <p class="text-gray-600">{{invoiceData?.client?.vat}}</p>
        </div>
        <div class="text-right">
            <h2 class="text-lg font-semibold text-gray-700">{{'bedrijfsinformatie' | translate}}</h2>
                            <br class="" style="border-spacing: 2px;">

            <p class="text-gray-600">{{org.name }} </p>
            <p class="text-gray-600">{{org.address.streetName}} {{org.address.streetNumber}} {{org.address.busNumber}} </p>
            <p class="text-gray-600">{{org.address.postalCode}} {{org.address.city}}</p>
            <p class="text-gray-600">{{org.companyVat}}</p>
        </div>
    </div>
    <!-- Invoice Table -->
    <table class="min-w-full bg-white mb-6 border-collapse">
        <thead>
            <tr>
                <th class="border-b py-2 text-left text-gray-600">{{'titel' | translate}}</th>
                <th class="border-b py-2 text-left text-gray-600">{{'omschrijving' | translate}}</th>
                <th class="border-b py-2 text-right text-gray-600">{{'aantal' | translate}}</th>
                <th class="border-b py-2 text-right text-gray-600">{{'prijs' | translate}}</th>
                <th class="border-b py-2 text-right text-gray-600">{{'btw' | translate}}</th>
                <th class="border-b py-2 text-right text-gray-600">{{'totaal' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-t" *ngFor="let product of invoiceProducts" >
                <td class="border-b py-2 text-gray-700">{{product.name}} </td>
                <td class="border-b py-2 text-gray-700">{{product.description}} </td>
                <td class="border-b py-2 text-right text-gray-700">{{product.qty}}</td>
                <td class="border-b py-2 text-right text-gray-700">€ {{ (product.price | number: '1.2-2')?.replace(',', '')}}</td>
                                <td class="border-b py-2 text-right text-gray-700">{{product.vat}}%</td>
                <td class="border-b py-2 text-right text-gray-700">€ {{ (product.total | number: '1.2-2')?.replace(',', ' ')}}</td>
            </tr>
            <!-- Repeat for each product/service -->
        </tbody>
    </table>
    <!-- Totals -->
    <div class="flex justify-end mb-6">
        <div class="text-right">
            <!-- <p class="text-lg font-semibold text-gray-700">Subtotaal: € 10800,00 </p> -->
            <p class="text-lg font-semibold text-gray-700 pt-2">{{'btw' | translate}} (21%): € {{(invoiceData.vatAmount| number: '1.2-2')?.replace(',', '')}}</p>
            <p class="text-xl font-bold text-gray-800 pt-2">{{'totaal' | translate}}: € {{ (invoiceData.total| number: '1.2-2')?.replace(',', '') }}</p>
        </div>
    </div>
    <!-- Footer -->
    <div class="border-t pt-4 text-center text-xs text-gray-500">
       <p> {{invoiceData.footer}} </p>
    </div>
                        <h2 class="text-gray-800 pt-4  text-xs text-center" >{{'gemaakt_met__door_financewizardbe' | translate}}</h2>

</div>
<button (click)="openPDF()">{{'download' | translate}}</button>