<div class="page wrapper container">
    <div class="flex flex-row">
        <div class="basis-1/4">
            <button class="btn btn-wide btn-primary" routerLink="/invoices/check"> vorige</button>
        </div>
        <div class="basis-1/2">
            <ul class="steps center">
                <li class="step">Gegevens</li>
                <li class="step">Laatste check & Genereer Factuur</li>
                <li class="step step-primary">Klaar</li>
            </ul>
        </div>
        <div class="basis-1/4">
            <button disabled class="btn btn-wide btn-primary"> Klaar</button>
        </div>
    </div>
</div>
<div class="divider">
    Klaar!
</div>