<div class="pt-3 pb-2 mb-3 border-bottom">
          <app-table [products]="products"></app-table>
    <!-- <div>
        <h2> all products</h2>
        <div  *ngFor="let product of products">
            <p> {{product.name}} | {{product.description}} | {{product.vatPercentage}} | {{product.price}} | {{product.hourlyrate}}</p>
        </div>
    </div> -->
  </div>

  <label for="my-modal" class="btn text-white	s">Voeg een product toe</label>
  
  <!-- Put this part before </body> tag -->
  <input type="checkbox" id="my-modal" class="modal-toggle" />
  <div class="modal">
    <app-add-product-modal></app-add-product-modal>
  </div>
