<!-- <div class="page">
    <div class="container">
      <div class="left">
        <div class="login">Login</div>
        <div class="eula">By logging in you agree to the ridiculously long terms that you didn't bother to read</div>
        <div class="forgotPassword">
            <span routerLink="/forgot-password">Forgot Password?</span>
          </div>
          <div class="redirectToLogin">
            <span>Don't have an account?<span class="redirect" routerLink="/register-user"> Sign Up</span></span>
          </div>
          <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
            <i class="fab fa-google-plus-g"></i>
            Log in with Google
          </button>
      </div>
      <div class="right">
        <svg viewBox="0 0 320 300">
          <defs>
            <linearGradient
                            inkscape:collect="always"
                            id="linearGradient"
                            x1="13"
                            y1="193.49992"
                            x2="307"
                            y2="193.49992"
                            gradientUnits="userSpaceOnUse">
              <stop
                    style="stop-color:#ff00ff;"
                    offset="0"
                    id="stop876" />
              <stop
                    style="stop-color:#ff0000;"
                    offset="1"
                    id="stop878" />
            </linearGradient>
          </defs>
          <path d="m 40,120.00016 239.99984,-3.2e-4 c 0,0 24.99263,0.79932 25.00016,35.00016 0.008,34.20084 -25.00016,35 -25.00016,35 h -239.99984 c 0,-0.0205 -25,4.01348 -25,38.5 0,34.48652 25,38.5 25,38.5 h 215 c 0,0 20,-0.99604 20,-25 0,-24.00396 -20,-25 -20,-25 h -190 c 0,0 -20,1.71033 -20,25 0,24.00396 20,25 20,25 h 168.57143" />
        </svg>
        <div class="form">
          <label for="user">Username</label>
          <input type="user"  #userName id="userName" required>
          <label for="password" >Password</label>
          <input type="password" #userPassword id="password" required>
          <input type="submit" id="submit" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
        </div>
        
      </div>
    </div>
  </div>
   -->

    <section class="absolute w-full h-full">
      <div class="absolute top-0 w-full h-full bg-slate-800"
        style="background-image: url(&quot;https://www.creative-tim.com/learning-lab/tailwind-starter-kit/img/register_bg_2.png&quot;); background-size: 100%; background-repeat: no-repeat;">
      </div>
      <div class="container mt-5 px-4 h-full">
        <div class=" h-full">
          <div class="w-full px-4">
            <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-slate-200 border-0">
              <div class="rounded-t mb-0 px-6 py-6">
                <div class="text-center mb-3">
                  <h6 class="text-slate-500 text-sm font-bold">Sign in with</h6>
                </div>
                <div class="btn-wrapper text-center">
                      <button
                      (click)="authService.GoogleAuth()"
                    class="bg-white active:bg-slate-50 text-slate-700 font-normal px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 uppercase shadow hover:shadow-md inline-flex items-center font-bold text-xs ease-linear transition-all duration-150"
                    type="button"><img alt="..." class="w-5 mr-1"
                    (click)="authService.GoogleAuth()"
                    src="https://www.creative-tim.com/learning-lab/tailwind-starter-kit/img/google.svg">Google</button>
                </div>
                <hr class="mt-6 border-b-1 border-slate-300">
              </div>
              <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
                <div class="text-slate-400 text-center mb-3 font-bold"><small>Or sign in with credentials</small></div>
                <form>
                  <div class="relative w-full mb-3"><label class="block uppercase text-slate-600 text-xs font-bold mb-2"
                      for="grid-password">Email</label>
                      <input type="email"
                      #userName
                      class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                      placeholder="Email"></div>
                  <div class="relative w-full mb-3"><label class="block uppercase text-slate-600 text-xs font-bold mb-2"
                      for="grid-password">Password</label>
                      <input type="password"
                      #userPassword
                      class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                      placeholder="Password"></div>
                  <div><label class="inline-flex items-center cursor-pointer"><input id="customCheckLogin" type="checkbox"
                        class="form-checkbox border-0 rounded text-slate-700 ml-1 w-5 h-5 ease-linear transition-all duration-150"><span
                        class="ml-2 text-sm font-semibold text-slate-600">Remember me</span></label></div>
                  <div class="text-center mt-6"><button (click)="authService.SignIn(userName.value, userPassword.value)"
                      class="bg-slate-800 text-white active:bg-slate-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                      type="button" >Sign In</button></div>
                </form>
              </div>
            </div>
            <div class=" flex-wrap mt-1">
              <div class="w-1/2"><a href="#pablo" class="text-slate-200"><small>Forgot password?</small></a></div>
              <div class="w-1/2 text-right" routerLink="/register-user" ><small>Create new account</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>