<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <p> Verificatie...</p>
        <div class="formGroup" *ngIf="authService.userData as user">
          <p class="text-center">We hebben een verificatiemail gestuurd naar<strong>{{user.email}}</strong>.</p>
          <p class="text-center">Gelieve je email te bevestigen</p>
        </div>
        
        <!-- Calling SendVerificationMail() method using authService Api -->
        <div class="formGroup"*ngIf="authService.userData as user">
          <!-- <button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail(user.email)">
            <i class="fas fa-redo-alt"></i>
            Verzend Verificatie Email opnieuw
          </button> -->
        </div>
      </div>
    </div>
  </div>