<div class="modal-box">
  <div class="modal-header">
      <label for="my-modal" (click)="close()">x</label>
  </div>
  <h3 class="font-bold text-lg text-white">Voeg product toe!</h3>
<form [formGroup]="clientForm" (ngSubmit)="submitClientData()" novalidate>
    <div class="row">
        <div class="row">
          <div class="col-md-12 mb-3">
            <label>Bedrijfsnaam</label>
            <input
              type="text"
              formControlName="name"
              class="form-control"
              required
            />
            <!-- errors-->
            <p *ngIf="name?.touched && name?.invalid" class="error">
              <sup>*</sup>Je moet een bedrijfsnaam ingeven
            </p>
            <p *ngIf="name?.errors?.['minlength']" class="error">
              <sup>*</sup>Je moet een bedrijfsnaam ingeven met minimaal 2 tekens
            </p>
          </div>
          <div class="col-md-12 mb-3">
            <label>BTW nummer</label>
            <input type="text" formControlName="vat" class="form-control" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-3">
            <label>Email</label>
            <input
              type="email"
              formControlName="email"
              class="form-control"
              required
            />
            <!-- errors-->
            <p *ngIf="email?.touched && email?.invalid" class="error">
              <sup>*</sup>Please provide email
            </p>
            <p *ngIf="email?.errors?.['pattern']" class="error">
              <sup>*</sup>Please enter correct email
            </p>
          </div>
          <div class="col-md-12 mb-3">
            <label>Telefoonnummer</label>
            <input
              type="text"
              formControlName="tel"
              class="form-control"
              required
            />
          </div>
<h2> <b> Adres </b></h2>
                  <div class="col-md-12 mb-3">
                    <label>Straat</label>
                    <input type="text" formControlName="streetName" class="form-control"  />
                    <!-- errors-->
                  </div>
                  <div class="col-md-12 mb-3">
                    <label>Nummer</label>
                    <input type="text" formControlName="streetNumber" class="form-control"  />
                    <!-- errors-->
                  </div>
                  <div class="col-md-12 mb-3">
                    <label>Postcode</label>
                    <input type="number" formControlName="postalCode" class="form-control"  />
                    <!-- errors-->
                  </div>
                  <div class="col-md-12 mb-3">
                    <label>Stad</label>
                    <input type="text" formControlName="city" class="form-control"  />
                    <!-- errors-->
                  </div>
                  <div class="col-md-12 mb-3">
                    <label>Land</label>
                    <input type="text" formControlName="country" class="form-control"  />
                    <!-- errors-->
                  </div>

        </div>
        <div class="form-group text-right">

          <button
            type="button"
            class="btn btn-secondary gap-right"
            (click)="ResetForm()"
          >
            Reset
          </button>
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!clientForm.valid"
          >
          <p *ngIf="!client">
          Voeg klant toe </p>
          <p *ngIf="client">
          Bewerk {{client?.name}} </p>
            
          </button>
        </div>
    </div>
  </form>
  </div>
