<div class="px-4 pt-12 pb-8">
    <div class="max-w-md mx-auto w-full">
        <div class="relative">
            <div class="absolute left-0 top-1/2 -mt-px w-full h-0.5 bg-gray-200" aria-hidden="true"></div>
            <ul class="relative flex justify-between w-full">
                <li>
                    <a class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-gray-100 text-gray-500"
                        href="/dashboard/recruitment/create-job">1</a>

                </li>
                <li>
                    <a class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-gray-100 text-gray-500"
                        href="/dashboard/recruitment/create-job/step-2">2</a>

                </li>

                <li>
                    <a class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-indigo-500 text-white"
                        href="/dashboard/recruitment/create-job/step-3">3</a>

                </li>

                <li>
                    <a class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-gray-100 text-gray-500"
                        href="/dashboard/recruitment/create-job/step-4">4</a>

                </li>
            </ul>
        </div>
    </div>
</div>
<div class="mb-8">
    <h2 class="text-2xl text-gray-800 font-bold mb-6">Sollicitatieformulier</h2>
</div>

<div class="flex mb-8">
    <!-- <div class="space-x-4 bg-white justify-center shadow-lg col-8 px-4 py-4 rounded-sm border border-gray-20"
        onclick="addelement()">
        Voeg een element toe +
    </div>
    <div class="space-x-4 bg-white justify-center shadow-lg col-4 px-4 py-4 rounded-sm border border-gray-20">
        <ul>
            <li>
                Text
            </li>
            <li>
                Checkbox
            </li>
            <li>
                Radio
            </li>
            <li>
                Datum
            </li>
            <li>
                Bestandupload
            </li>

        </ul>
    </div> -->

    <div class="space-x-4 bg-white justify-center shadow-lg col-12 px-4 py-4 rounded-sm border border-gray-20"
        onclick="addelement()">
        Bewerk formulier
        <angular-json-form [form]="form"></angular-json-form>

    </div>
</div>