<form [formGroup]="invoiceFrom" class="grid grid-cols-12 gap-6">
  <div class="flex flex-col col-span-full sm:col-span-12 bg-white shadow-xl rounded-box rounded-sm">
    <div id="dashboard-card-04-legend" class="flex flex-row px-5 py-3">
      <div class="basis-1/4">
      </div>
      <div class="basis-1/2">
        <app-stepper></app-stepper>
        <!-- <ul class="steps center">
          <li class="step step-primary">Gegevens</li>
          <li class="step ">Laatste check & maak factuur</li>
          <li class="step">Klaar</li>
        </ul> -->
      </div>
      <div class="basis-1/4">
      </div>

    </div>
  </div>
  <div class="flex flex-col col-span-full sm:col-span-12 bg-white shadow-xl rounded-box rounded-sm">
    <div id="dashboard-card-04-legend" class=" px-5 py-3">
      <header class="px-5 py-4  header-card">
        <h2 class="font-semibold text-gray-800">Jouw gegevens</h2>
        <div class="dropdown-icon" style="width: 20px;" (click)="hide()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M12.7071 14.7071C12.3166 15.0976 11.6834 15.0976 11.2929 14.7071L6.29289 9.70711C5.90237 9.31658 5.90237 8.68342 6.29289 8.29289C6.68342 7.90237 7.31658 7.90237 7.70711 8.29289L12 12.5858L16.2929 8.29289C16.6834 7.90237 17.3166 7.90237 17.7071 8.29289C18.0976 8.68342 18.0976 9.31658 17.7071 9.70711L12.7071 14.7071Z"
              fill="#000000" />
          </svg>
        </div>
      </header>
      <div id="dashboard-card-04-legend" class="px-5 py-3 flex flex-row border-t border-gray-100" *ngIf="showMyDetails">
        <div class="basis-1/2">
          <div class="max-w-sm">
            <img class="max-w-sm py-5" [src]="logo" />
          </div>
        </div>
        <div class="basis-1/2">
          <div class=" bg-base-100">
            <div class="card-body">
              <input type="text" class="input input-bordered input-primary w-full max-w-xs" formControlName="invoiceName"  placeholder="Factuurnaam" />
              <div>
                {{company?.invoiceNumberPrefix}}
              <input type="text" class="input input-bordered input-primary w-full max-w-xs" formControlName="invoiceNumber"
                placeholder="Factuur nummer" />

              </div>
              <h2 class="card-title">{{company?.name}}</h2>
              <p>{{company?.address?.streetName}} {{company?.address?.streetNumber}}</p>
              <p>{{company?.address?.postalCode}} {{company?.address?.city}} </p>
              <p>{{company?.address?.country}}
              <p>{{company?.companyVat}}
              <p>{{company?.companyEmail}}
              </div>
            <div class="edit edit-button">
            
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#666666">
            
                <g id="SVGRepo_bgCarrier" stroke-width="0" />
            
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />
            
                <g id="SVGRepo_iconCarrier">
                  <path opacity="0.15" d="M4 20H8L18 10L14 6L4 16V20Z" fill="#d18400" />
                  <path d="M18 10L21 7L17 3L14 6M18 10L8 20H4V16L14 6M18 10L14 6" stroke="#d18400" stroke-width="1.5"
                    stroke-linecap="round" stroke-linejoin="round" />
                </g>
            
              </svg>
              <p class="pl-5"> Bewerk gegevens</p>
            </div>
            </div>
        </div>

      </div>
    </div>
  </div>
  <!-- aan-->
  <div class="flex flex-col col-span-full sm:col-span-12 bg-white shadow-xl rounded-box rounded-sm">
    <div id="dashboard-card-04-legend" class=" px-5 py-3">
      <header class="px-5 py-4  header-card">
        <h2 class="font-semibold text-gray-800">Factuurgegevens</h2>
        <div class="dropdown-icon" style="width: 20px;" (click)="hide()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M12.7071 14.7071C12.3166 15.0976 11.6834 15.0976 11.2929 14.7071L6.29289 9.70711C5.90237 9.31658 5.90237 8.68342 6.29289 8.29289C6.68342 7.90237 7.31658 7.90237 7.70711 8.29289L12 12.5858L16.2929 8.29289C16.6834 7.90237 17.3166 7.90237 17.7071 8.29289C18.0976 8.68342 18.0976 9.31658 17.7071 9.70711L12.7071 14.7071Z"
              fill="#000000" />
          </svg>
        </div>
      </header>
      <div id="dashboard-card-04-legend" class="px-5 py-3 flex flex-row border-t border-gray-100" *ngIf="showMyDetails">
        <div class="basis-1/2">
          <!-- <a href="/clients/create">Voeg nieuwe klant toe</a> -->
          <div class=" bg-base-100 ">
            <div class="card-body">
              <select (change)="onClientChange($event.target.value)" class="select select-primary w-full mb-6">
                <option selected>Klantgegevens</option>
                <option *ngFor="let client of clients" [value]="client.id">{{client.firstName}}</option>

              </select>
              <div *ngIf="selectedClient">
                <h2 class="card-title">{{selectedClient.firstName}}</h2>
                <p>{{selectedClient.address?.streetName}} {{selectedClient.address?.streetNumber}}</p>
                <p>{{selectedClient.address?.postalCode}} {{selectedClient.address?.city}}</p>
                <p>{{selectedClient.address?.country}}</p>
              </div>
              </div>
              </div>
              </div>
        <div class="basis-1/2">
          <div class=" bg-base-100">
            <div class="card-body">
              <div class="flex flex-row inputInvoice">
                <label class="color-gray-200 pr-10">Aanmaakdatum:</label>
                <div
                  class="inputF flex bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500">
                  <mat-datepicker-toggle class=" picker-icon text-gray-900 " matIconSuffix
                    [for]="picker"></mat-datepicker-toggle>
                  <input formControlName="invoiceDate" (dateChange)="payWithinChange()" [matDatepicker]="picker">
                  <mat-datepicker #picker></mat-datepicker>
                </div>
              </div>
              <div class="flex flex-row inputInvoice">
                <label class="color-gray-200 pr-10">Betaaldatum:</label>
                <div class="inputF flex bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500">
                  <mat-datepicker-toggle class=" picker-icon text-gray-900 " matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                  <input formControlName="paymentDate" [matDatepicker]="picker2">
                  <mat-datepicker #picker2></mat-datepicker>
                </div>
                </div>
                            <div>
                              <input type="range" [(ngModel)]="payWithin" (change)="payWithinChange()" min=0 max=100 value=30
                                formControlName="payWithin" class="range range-secondary" />
                              <p> Betalen binnen {{payWithin}} dagen</p>
                              
                              </div>
                              </div>
                              </div>
            </div>
        </div>
        </div>
        </div>

  <!-- Factuurgegevens -->
  <div class="flex flex-col col-span-full sm:col-span-12 bg-white shadow-xl rounded-box rounded-sm">
    <header class="px-5 py-4 border-b border-gray-100">
      <h2 class="font-semibold text-gray-800">Factuur</h2>
    </header>
    <div id="dashboard-card-04-legend" class="px-5 py-3">
      <section [formGroup]="addForm">
        <div class="flex flex-row mt-6 space-x-4" *ngFor="let row of getControls(); let index = index;" [id]="index">
          <div class="basis-1/4">
            <div class="relative max-w-sm">
              <label class="label">
                <span class="label-text"> Item
                </span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                  style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;">
                  <path
                    d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z">
                  </path>
                </svg>
  
              </label>
              <select *ngIf="!row.get('isCustom')?.value && products?.length > 0"
                (change)="selectProd(index, $event.target.value)" class="select select-primary w-full max-w-xs">
                <option *ngFor="let prod of products" [value]="prod.id">{{prod.name}}</option>
              </select>
              <input *ngIf="row.get('isCustom')?.value" [value]="row.get('name')?.value"
                class="input input-bordered input-primary w-full max-w-xs" />

            </div>
            </div>
            <div class="basis-1/12">
              <div class="relative max-w-sm">
                <label class="label">
                  <span class="label-text">Aantal</span>
                </label>
                <input (change)="changeAmount(index, $event.target.value)" type="number" [value]="row.get('qty')?.value"
                  placeholder="Aantal" class="input input-bordered input-primary w-full max-w-xs" />
              </div>
            </div>
            <div class="basis-1/6">
              <div class="relative max-w-sm">
                <label class="label">
                  <span class="label-text">Prijs</span>
                </label>
                <input (change)="changePrice(index, $event.target.value)" type="number" [value]="row.get('price')?.value"
                placeholder="Prijs" class="input input-bordered input-primary w-full max-w-xs" />
            </div>
          </div>

          <div class="basis-1/12">
            <div class="relative max-w-sm">
              <label class="label">
                <span class="label-text">BTW</span>
              </label>
              <select [value]="row.get('vat')?.value" class="select select-primary w-full max-w-xs"
                (change)="calculateTotalWithVat(index, $event.target.value)">
                <option disabled selected>BTW</option>
                <option value="21">21%</option>
                <option value="6">6%</option>
                <option value="1">0</option>
              </select>
            </div>
          </div>

          <div class="basis-1/12">
            <div class="relative max-w-sm">
              <label class="label">
                <span class="label-text">BTW prijs</span>
              </label>
              <input disabled [value]="row.get('vatAmount')?.value" type="number" placeholder="123"
                class="input input-bordered input-primary w-full max-w-xs" />
            </div>
          </div>

          <div class="basis-1/6">
            <div class="relative max-w-sm">
              <label class="label">
                <span class="label-text">Totaal</span>
              </label>
              <input disabled type="number" [value]="row.get('total')?.value" placeholder="Totaal"
                class="input input-bordered input-primary w-full max-w-xs" />
            </div>
          </div>
          <div class="basis-1/12">
            <button class="btn btn-circle btn-outline btn-primary-outline mt-8" (click)="onRemoveRow(index)">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
              </button>
              </div>
              </div>
              <div class="flex flex-row mt-6 space-x-4">
                <div class="basis-1/4 group">
                  <button class="btn btn-wide btn-primary" (click)="onAddRow()">Snel invullen</button>
                </div>
                <div class="basis-1/4">
                  <button class="btn btn-wide btn-secundary text-white" (click)="addClass()">Voeg Product toe</button>
                </div>
              </div>
              
              <div class="stats text-primary-content mt-6">
              
                <div class="stat">
                  <div class="stat-title">BTW</div>
                  <div class="stat-value"> € {{totalVatAmount}}</div>
                </div>
              
                <div class="stat">
                  <div class="stat-title">Totaal</div>
                  <div class="stat-value">€ {{total }}</div>
                </div>
              
              </div>
              </section>
              </div>
              </div>
              <div class="flex flex-col col-span-full sm:col-span-12 bg-white shadow-xl rounded-box rounded-sm">
                <header class="px-5 py-4 border-b border-gray-100">
                  <h2 class="font-semibold text-gray-800">Voettekst</h2>
                </header>
                <div id="dashboard-card-04-legend" class="px-5 py-3">
                  <textarea formControlName="footer" class="textarea w-full mt-6"
                    [placeholder]="placeholder_footer"></textarea>
    </div>
                <div id="dashboard-card-04-legend" class="px-5 py-3">
                  <textarea formControlName="paymentDetails" class="textarea w-full mt-6"
                    placeholder="Geef je rekingnummer in"></textarea>
    </div>
  </div>
  <button class="btn btn-wide btn-primary" (click)="submit()"> Volgende stap</button>

</form>
<div class="modal" [ngClass]="visible ? 'visible' : 'notVisible'">
  <app-add-product-modal (productData)="addCustomProduct($event)" (toggle)="addClass()"></app-add-product-modal>

</div>