<div class="relative flex step-1" *ngIf="step === 1 || step === 100 || step === 201 || step === 100000">

    <!-- Content -->
    <div class="w-full md:w-1/2">

        <div class="min-h-screen h-full flex flex-col after:flex-1">

            <div class="flex-1">

                <!-- Header -->
                <div class="flex items-center justify-between h-16 px-4 sm:px-6 lg:px-8">
                    <!-- Logo -->
                    <a class="block" href="index.html">
                        <svg width="32" height="32" viewBox="0 0 32 32">
                            <defs>
                                <linearGradient x1="28.538%" y1="20.229%" x2="100%" y2="108.156%" id="logo-a">
                                    <stop stop-color="#A5B4FC" stop-opacity="0" offset="0%" />
                                    <stop stop-color="#A5B4FC" offset="100%" />
                                </linearGradient>
                                <linearGradient x1="88.638%" y1="29.267%" x2="22.42%" y2="100%" id="logo-b">
                                    <stop stop-color="#38BDF8" stop-opacity="0" offset="0%" />
                                    <stop stop-color="#38BDF8" offset="100%" />
                                </linearGradient>
                            </defs>
                            <rect fill="#6366F1" width="32" height="32" rx="16" />
                            <path
                                d="M18.277.16C26.035 1.267 32 7.938 32 16c0 8.837-7.163 16-16 16a15.937 15.937 0 01-10.426-3.863L18.277.161z"
                                fill="#4F46E5" />
                            <path
                                d="M7.404 2.503l18.339 26.19A15.93 15.93 0 0116 32C7.163 32 0 24.837 0 16 0 10.327 2.952 5.344 7.404 2.503z"
                                fill="url(#logo-a)" />
                            <path
                                d="M2.223 24.14L29.777 7.86A15.926 15.926 0 0132 16c0 8.837-7.163 16-16 16-5.864 0-10.991-3.154-13.777-7.86z"
                                fill="url(#logo-b)" />
                        </svg>
                    </a>
                    <div class="text-sm">
                        Have an account? <a class="font-medium text-indigo-500 hover:text-indigo-600"
                            href="signin.html">Sign In</a>
                    </div>
                </div>

                <!-- Progress bar -->
                <div class="px-4 pt-12 pb-8">
                    <div class="max-w-md mx-auto w-full">
                        <div class="relative">
                            <div class="absolute left-0 top-1/2 -mt-px w-full h-0.5 bg-gray-200" aria-hidden="true">
                            </div>
                            <ul class="relative flex justify-between w-full">
                                <li>
                                    <a class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-indigo-500 text-white"
                                        href="onboarding-01.html">1</a>
                                </li>
                                <li>
                                    <a class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-gray-100 text-gray-500"
                                        href="onboarding-02.html">2</a>
                                </li>
                                <li>
                                    <a class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-gray-100 text-gray-500"
                                        href="onboarding-03.html">3</a>
                                </li>
                                <li>
                                    <a class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-gray-100 text-gray-500"
                                        href="onboarding-04.html">4</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="px-4 py-8">
                <div class="max-w-md mx-auto">

                    <h1 class="text-3xl text-gray-800 font-bold mb-6">Vertel eens wat meer over jezelf ✨</h1>
                    <!-- Form -->
                    <form>
                        <div class="space-y-3 mb-8">
                            <label class="relative block cursor-pointer">
                                <input type="radio" (click)="setDescription(1)" name="radio-buttons"
                                    [checked]="description === 1" class="peer sr-only" />
                                <div
                                    class="flex items-center bg-white text-sm font-medium text-gray-800 p-4 rounded border border-gray-200 hover:border-gray-300 shadow-sm duration-150 ease-in-out">
                                    <svg class="w-6 h-6 shrink-0 fill-current mr-4" viewBox="0 0 24 24">
                                        <path class="text-indigo-500"
                                            d="m12 10.856 9-5-8.514-4.73a1 1 0 0 0-.972 0L3 5.856l9 5Z" />
                                        <path class="text-indigo-300"
                                            d="m11 12.588-9-5V18a1 1 0 0 0 .514.874L11 23.588v-11Z" />
                                        <path class="text-indigo-200"
                                            d="M13 12.588v11l8.486-4.714A1 1 0 0 0 22 18V7.589l-9 4.999Z" />
                                    </svg>
                                    <span>Ik heb een bedrijf met één of meerdere werknemers</span>
                                </div>
                                <div class="absolute inset-0 border-2 border-transparent peer-checked:border-indigo-400 rounded pointer-events-none"
                                    aria-hidden="true"></div>
                            </label>
                            <label class="relative block cursor-pointer">
                                <input type="radio" name="radio-buttons" (click)="setDescription(2)"
                                    class="peer sr-only" [checked]="description === 2" />
                                <div
                                    class="flex items-center bg-white text-sm font-medium text-gray-800 p-4 rounded border border-gray-200 hover:border-gray-300 shadow-sm duration-150 ease-in-out">
                                    <svg class="w-6 h-6 shrink-0 fill-current mr-4" viewBox="0 0 24 24">
                                        <path class="text-indigo-500"
                                            d="m12 10.856 9-5-8.514-4.73a1 1 0 0 0-.972 0L3 5.856l9 5Z" />
                                        <path class="text-indigo-300"
                                            d="m11 12.588-9-5V18a1 1 0 0 0 .514.874L11 23.588v-11Z" />
                                    </svg>
                                    <span>Ik ben freelancer/ik heb een éénmanszaak</span>
                                </div>
                                <div class="absolute inset-0 border-2 border-transparent peer-checked:border-indigo-400 rounded pointer-events-none"
                                    aria-hidden="true"></div>
                            </label>
                            <label class="relative block cursor-pointer">
                                <input type="radio" name="radio-buttons" (click)="setDescription(3)"
                                    class="peer sr-only" [checked]="description === 3" />
                                <div
                                    class="flex items-center bg-white text-sm font-medium text-gray-800 p-4 rounded border border-gray-200 hover:border-gray-300 shadow-sm duration-150 ease-in-out">
                                    <svg class="w-6 h-6 shrink-0 fill-current mr-4" viewBox="0 0 24 24">
                                        <path class="text-indigo-500"
                                            d="m12 10.856 9-5-8.514-4.73a1 1 0 0 0-.972 0L3 5.856l9 5Z" />
                                    </svg>
                                    <span>Ik kom maar eens een kijkje nemen uit nieuwsgierigheid</span>
                                </div>
                                <div class="absolute inset-0 border-2 border-transparent peer-checked:border-indigo-400 rounded pointer-events-none"
                                    aria-hidden="true"></div>
                            </label>
                        </div>

                        <div class="flex items-center justify-between">
                            <button class="btn bg-indigo-500 hover:bg-indigo-600 text-white ml-auto"
                                (click)="setStep(2)">Volgende -&gt;</button>
                        </div>
                    </form>

                </div>
            </div>

        </div>

    </div>

    <!-- Image -->
    <div class="hidden md:block absolute top-0 bottom-0 right-0 md:w-1/2" aria-hidden="true">
        <img class="object-cover object-center w-full h-full" src="/assets/images/onboarding-image.jpg" width="760"
            height="1024" alt="Onboarding" />
        <img class="absolute top-1/4 left-0 transform -translate-x-1/2 ml-8 hidden lg:block"
            src="/assets/images/auth-decoration.png" width="218" height="224" alt="Authentication decoration" />
    </div>

</div>

<div class="relative flex step-2" *ngIf="step === 2">

    <!-- Content -->
    <div class="w-full md:w-1/2">

        <div class="min-h-screen h-full flex flex-col after:flex-1">

            <div class="flex-1">

                <!-- Header -->
                <div class="flex items-center justify-between h-16 px-4 sm:px-6 lg:px-8">
                    <!-- Logo -->
                    <a class="block" href="index.html">
                        <svg width="32" height="32" viewBox="0 0 32 32">
                            <defs>
                                <linearGradient x1="28.538%" y1="20.229%" x2="100%" y2="108.156%" id="logo-a">
                                    <stop stop-color="#A5B4FC" stop-opacity="0" offset="0%" />
                                    <stop stop-color="#A5B4FC" offset="100%" />
                                </linearGradient>
                                <linearGradient x1="88.638%" y1="29.267%" x2="22.42%" y2="100%" id="logo-b">
                                    <stop stop-color="#38BDF8" stop-opacity="0" offset="0%" />
                                    <stop stop-color="#38BDF8" offset="100%" />
                                </linearGradient>
                            </defs>
                            <rect fill="#6366F1" width="32" height="32" rx="16" />
                            <path
                                d="M18.277.16C26.035 1.267 32 7.938 32 16c0 8.837-7.163 16-16 16a15.937 15.937 0 01-10.426-3.863L18.277.161z"
                                fill="#4F46E5" />
                            <path
                                d="M7.404 2.503l18.339 26.19A15.93 15.93 0 0116 32C7.163 32 0 24.837 0 16 0 10.327 2.952 5.344 7.404 2.503z"
                                fill="url(#logo-a)" />
                            <path
                                d="M2.223 24.14L29.777 7.86A15.926 15.926 0 0132 16c0 8.837-7.163 16-16 16-5.864 0-10.991-3.154-13.777-7.86z"
                                fill="url(#logo-b)" />
                        </svg>
                    </a>
                    <div class="text-sm">
                        Have an account? <a class="font-medium text-indigo-500 hover:text-indigo-600"
                            href="signin.html">Sign In</a>
                    </div>
                </div>

                <!-- Progress bar -->
                <div class="px-4 pt-12 pb-8">
                    <div class="max-w-md mx-auto w-full">
                        <div class="relative">
                            <div class="absolute left-0 top-1/2 -mt-px w-full h-0.5 bg-gray-200" aria-hidden="true">
                            </div>
                            <ul class="relative flex justify-between w-full">
                                <li>
                                    <a class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-indigo-500 text-white"
                                        href="onboarding-01.html">1</a>
                                </li>
                                <li>
                                    <a class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-indigo-500 text-white"
                                        href="onboarding-02.html">2</a>
                                </li>
                                <li>
                                    <a class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-gray-100 text-gray-500"
                                        href="onboarding-03.html">3</a>
                                </li>
                                <li>
                                    <a class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-gray-100 text-gray-500"
                                        href="onboarding-04.html">4</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="px-4 py-8">
                <div class="max-w-md mx-auto">

                    <h1 class="text-3xl text-gray-800 font-bold mb-6">Welk account wil je opzetten?✨</h1>
                    <!-- Form -->
                    <form>
                        <div class="sm:flex space-y-3 sm:space-y-0 sm:space-x-4 mb-8">
                            <label class="flex-1 relative block cursor-pointer">
                                <input type="radio" name="radio-buttons" class="peer sr-only"
                                    [checked]="companyType === AccountType.PERSONAL"
                                    (click)="setType(AccountType.PERSONAL)" />
                                <div
                                    class="h-full text-center bg-white px-4 py-6 rounded border border-gray-200 hover:border-gray-300 shadow-sm duration-150 ease-in-out">
                                    <svg class="inline-flex w-10 h-10 shrink-0 fill-current mb-2" viewBox="0 0 40 40">
                                        <circle class="text-indigo-100" cx="20" cy="20" r="20" />
                                        <path class="text-indigo-500"
                                            d="m26.371 23.749-3.742-1.5a1 1 0 0 1-.629-.926v-.878A3.982 3.982 0 0 0 24 17v-1.828A4.087 4.087 0 0 0 20 11a4.087 4.087 0 0 0-4 4.172V17a3.982 3.982 0 0 0 2 3.445v.878a1 1 0 0 1-.629.928l-3.742 1.5a1 1 0 0 0-.629.926V27a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.323a1 1 0 0 0-.629-.928Z" />
                                    </svg>
                                    <div class="font-medium text-gray-800 mb-1">Individueel</div>
                                    <div class="text-sm">Ideaal als je facturen wilt maken/versturen en maar 1 login
                                        nodig hebt </div>
                                </div>
                                <div class="absolute inset-0 border-2 border-transparent peer-checked:border-indigo-400 rounded pointer-events-none"
                                    aria-hidden="true"></div>
                            </label>
                            <label class="flex-1 relative block cursor-pointer">
                                <input type="radio" name="radio-buttons" class="peer sr-only"
                                    [checked]="companyType === AccountType.ORGANIZATION"
                                    (click)="setType(AccountType.ORGANIZATION)" />
                                <div
                                    class="h-full text-center bg-white px-4 py-6 rounded border border-gray-200 hover:border-gray-300 shadow-sm duration-150 ease-in-out">
                                    <svg class="inline-flex w-10 h-10 shrink-0 fill-current mb-2" viewBox="0 0 40 40">
                                        <circle class="text-indigo-100" cx="20" cy="20" r="20" />
                                        <path class="text-indigo-500"
                                            d="m26.371 23.749-3.742-1.5a1 1 0 0 1-.629-.926v-.878A3.982 3.982 0 0 0 24 17v-1.828A4.087 4.087 0 0 0 20 11a4.087 4.087 0 0 0-4 4.172V17a3.982 3.982 0 0 0 2 3.445v.878a1 1 0 0 1-.629.928l-3.742 1.5a1 1 0 0 0-.629.926V27a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.323a1 1 0 0 0-.629-.928Z" />
                                        <circle class="text-indigo-100" cx="20" cy="20" r="20" />
                                        <path class="text-indigo-300"
                                            d="m30.377 22.749-3.709-1.5a1 1 0 0 1-.623-.926v-.878A3.989 3.989 0 0 0 28.027 16v-1.828c.047-2.257-1.728-4.124-3.964-4.172-2.236.048-4.011 1.915-3.964 4.172V16a3.989 3.989 0 0 0 1.982 3.445v.878a1 1 0 0 1-.623.928c-.906.266-1.626.557-2.159.872-.533.315-1.3 1.272-2.299 2.872 1.131.453 6.075-.546 6.072.682V28a2.99 2.99 0 0 1-.182 1h7.119A.996.996 0 0 0 31 28v-4.323a1 1 0 0 0-.623-.928Z" />
                                        <path class="text-indigo-500"
                                            d="m22.371 24.749-3.742-1.5a1 1 0 0 1-.629-.926v-.878A3.982 3.982 0 0 0 20 18v-1.828A4.087 4.087 0 0 0 16 12a4.087 4.087 0 0 0-4 4.172V18a3.982 3.982 0 0 0 2 3.445v.878a1 1 0 0 1-.629.928l-3.742 1.5a1 1 0 0 0-.629.926V28a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.323a1 1 0 0 0-.629-.928Z" />
                                    </svg>
                                    <div class="font-medium text-gray-800 mb-1">Organisatie</div>
                                    <div class="text-sm">Je maakt een account aan voor je organisatie en kan meerdere
                                        mensen toevoegen die kunnen inloggen om facturen in naam van je organisatie aan
                                        te maken en te bekijken</div>
                                </div>
                                <div class="absolute inset-0 border-2 border-transparent peer-checked:border-indigo-400 rounded pointer-events-none"
                                    aria-hidden="true"></div>
                            </label>
                        </div>
                        <div class="flex items-center justify-between space-x-6 mb-8">
                            <div>
                                <div class="font-medium text-gray-800 text-sm mb-1">💸 Welk account moet ik kiezen?
                                </div>
                                <div class="text-xs">Bij beide opties zijn de basis functionaliteiten volledig
                                    <b>gratis!
                                    </b> Bij het organisatieaccount kan je echter extra,
                                    betalende features toevoegen (enkel indien gewenst). Zo kan je bij een
                                    organisatieaccount bijvoorbeeld meerdere
                                    gebruikers toevoegen, en onze
                                    HR-tool ook gebruiken. Bij een individueel account kan je enkel facturen en
                                    offertes maken.
                                </div>
                            </div>
                            <div class="flex items-center">
                                <div class="form-switch">
                                    <input type="checkbox" id="switch" class="sr-only" checked />
                                    <label class="bg-gray-400" for="switch">
                                        <span class="bg-white shadow-sm" aria-hidden="true"></span>
                                        <span class="sr-only">Switch label</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="flex items-center justify-between">
                            <button (click)="setStep(1)" class="text-sm underline hover:no-underline">&lt;-
                                Terug</button>
                            <button class="btn bg-indigo-500 hover:bg-indigo-600 text-white ml-auto"
                                (click)="setStep(3)">Volgende -&gt;</button>
                        </div>
                    </form>

                </div>
            </div>

        </div>

    </div>

    <!-- Image -->
    <div class="hidden md:block absolute top-0 bottom-0 right-0 md:w-1/2" aria-hidden="true">
        <img class="object-cover object-center w-full h-full" src="/assets/images/onboarding-image.jpg" width="760"
            height="1024" alt="Onboarding" />
        <img class="absolute top-1/4 left-0 transform -translate-x-1/2 ml-8 hidden lg:block"
            src="/assets/images/auth-decoration.png" width="218" height="224" alt="Authentication decoration" />
    </div>

</div>

<div class="relative flex step-3" *ngIf="step === 3">

    <!-- Content -->
    <div class="w-full md:w-1/2">

        <div class="min-h-screen h-full flex flex-col after:flex-1">

            <div class="flex-1">

                <!-- Header -->
                <div class="flex items-center justify-between h-16 px-4 sm:px-6 lg:px-8">
                    <!-- Logo -->
                    <a class="block" href="index.html">
                        <svg width="32" height="32" viewBox="0 0 32 32">
                            <defs>
                                <linearGradient x1="28.538%" y1="20.229%" x2="100%" y2="108.156%" id="logo-a">
                                    <stop stop-color="#A5B4FC" stop-opacity="0" offset="0%" />
                                    <stop stop-color="#A5B4FC" offset="100%" />
                                </linearGradient>
                                <linearGradient x1="88.638%" y1="29.267%" x2="22.42%" y2="100%" id="logo-b">
                                    <stop stop-color="#38BDF8" stop-opacity="0" offset="0%" />
                                    <stop stop-color="#38BDF8" offset="100%" />
                                </linearGradient>
                            </defs>
                            <rect fill="#6366F1" width="32" height="32" rx="16" />
                            <path
                                d="M18.277.16C26.035 1.267 32 7.938 32 16c0 8.837-7.163 16-16 16a15.937 15.937 0 01-10.426-3.863L18.277.161z"
                                fill="#4F46E5" />
                            <path
                                d="M7.404 2.503l18.339 26.19A15.93 15.93 0 0116 32C7.163 32 0 24.837 0 16 0 10.327 2.952 5.344 7.404 2.503z"
                                fill="url(#logo-a)" />
                            <path
                                d="M2.223 24.14L29.777 7.86A15.926 15.926 0 0132 16c0 8.837-7.163 16-16 16-5.864 0-10.991-3.154-13.777-7.86z"
                                fill="url(#logo-b)" />
                        </svg>
                    </a>
                    <div class="text-sm">
                        Have an account? <a class="font-medium text-indigo-500 hover:text-indigo-600"
                            href="signin.html">Sign In</a>
                    </div>
                </div>

                <!-- Progress bar -->
                <div class="px-4 pt-12 pb-8">
                    <div class="max-w-md mx-auto w-full">
                        <div class="relative">
                            <div class="absolute left-0 top-1/2 -mt-px w-full h-0.5 bg-gray-200" aria-hidden="true">
                            </div>
                            <ul class="relative flex justify-between w-full">
                                <li>
                                    <a class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-indigo-500 text-white"
                                        href="onboarding-01.html">1</a>
                                </li>
                                <li>
                                    <a class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-indigo-500 text-white"
                                        href="onboarding-02.html">2</a>
                                </li>
                                <li>
                                    <a class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-indigo-500 text-white"
                                        href="onboarding-03.html">3</a>
                                </li>
                                <li>
                                    <a class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-gray-100 text-gray-500"
                                        href="onboarding-04.html">4</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="px-4 py-8">
                <div class="max-w-md mx-auto">

                    <h1 class="text-3xl text-gray-800 font-bold mb-6">Bedrijfsinfo ✨</h1>
                    <!-- Form -->
                    <form [formGroup]="companyForm">
                        <div class="space-y-4 mb-8">
                            <!-- vat -->
                            <div>
                                <label class="block text-sm font-medium mb-1" for="company-name">Btw nummer <span
                                        class="text-red-500">*</span></label>
                                <input type="text" formControlName="companyVat" placeholder="BE1234567"
                                    class="input w-full max-w-xs border-b-indigo-500 mb-1" />

                                <p *ngIf="validVat"> BTW is geldig</p>
                                <p class="error" *ngIf="!validVat"> BTW is ongeldig</p>

                            </div>
                            <!-- Company Name -->
                            <div>
                                <label class="block text-sm font-medium mb-1" for="name">Bedrijfsnaam <span
                                        class="text-red-500">*</span></label>
                                <input type="text" formControlName="companyName" placeholder="Acme.bvba"
                                    class="input w-full max-w-xs border-b-indigo-500 mb-1" />
                                <span class="valid" *ngIf="companyForm.get('name')?.valid">✅</span>

                            </div>
                            <span class="error" *ngIf="!companyForm.get('name')?.valid">Geef je bedrijfsnaam in</span>

                            <div>

                                <ng-container formGroupName="address">
                                    <!-- City and Postal Code -->
                                    <div class="flex space-x-4">
                                        <div class="flex-1 mb-1">
                                            <label class="block text-sm font-medium mb-1" for="city">Stad <span
                                                    class="text-red-500">*</span></label>
                                            <input type="text" formControlName="city" placeholder="Antwerpen"
                                                class="input w-full max-w-xs border-b-indigo-500" />
                                        </div>
                                        <div class="flex-1 mb-1">
                                            <label class="block text-sm font-medium mb-1" for="postal-code">Postcode
                                                <span class="text-red-500">*</span></label>
                                            <input formControlName="postalCode" type="text" placeholder="3490"
                                                class="input w-full max-w-xs border-b-indigo-500" />

                                        </div>
                                    </div>
                                    <!-- Street Address -->
                                    <div class="flex space-x-4 mb-1">
                                        <div class="flex-1">
                                            <label class="block text-sm font-medium mb-1" for="street">Straatnaam <span
                                                    class="text-red-500">*</span></label>
                                            <input type="text" formControlName="streetName" placeholder="Dorspstraat"
                                                class="input w-full max-w-xs border-b-indigo-500" />

                                        </div>
                                        <div class="flex-1">
                                            <label class="block text-sm font-medium mb-1" for="nummer">Nummer <span
                                                    class="text-red-500">*</span></label>
                                            <input type="text" formControlName="streetNumber" placeholder="2"
                                                class="input w-full max-w-xs border-b-indigo-500" />


                                        </div>
                                        <div class="flex-1">
                                            <label class="block text-sm font-medium mb-1" for="bus">Bus</label>
                                            <input type="text" formControlName="busNumber" placeholder="2"
                                                class="input w-full max-w-xs border-indigo-100 border-b-indigo-500" />

                                        </div>
                                    </div>
                                    <!-- Country -->
                                    <div>
                                        <label class="block text-sm font-medium mb-1" for="country">Land <span
                                                class="text-red-500">*</span></label>
                                        <select id="country" class="form-select w-full" formControlName="country">
                                            <option default value="Belgium">België</option>
                                            <option value="Netherlands">Nederland</option>
                                            <option value="UK">United Kingdom</option>
                                        </select>

                                    </div>
                                </ng-container>
                            </div>
                            <div class="flex items-center justify-between">
                                <button (click)="setStep(2)" class="text-sm underline hover:no-underline">&lt;-
                                    Terug</button>
                                <button (click)="saveCompany()"
                                    class="btn bg-indigo-500 hover:bg-indigo-600 text-white ml-auto">Volgende
                                    -&gt;</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>

    </div>

    <!-- Image -->
    <div class="hidden md:block absolute top-0 bottom-0 right-0 md:w-1/2" aria-hidden="true">
        <img class="object-cover object-center w-full h-full" src="/assets/images/onboarding-image.jpg" width="760"
            height="1024" alt="Onboarding" />
        <img class="absolute top-1/4 left-0 transform -translate-x-1/2 ml-8 hidden lg:block"
            src="/assets/images/auth-decoration.png" width="218" height="224" alt="Authentication decoration" />
    </div>

</div>

<div class="relative flex step-4" *ngIf="step === 4">

    <!-- Content -->
    <div class="w-full md:w-1/2">

        <div class="min-h-screen h-full flex flex-col after:flex-1">

            <div class="flex-1">

                <!-- Header -->
                <div class="flex items-center justify-between h-16 px-4 sm:px-6 lg:px-8">
                    <!-- Logo -->
                    <a class="block" href="index.html">
                        <svg width="32" height="32" viewBox="0 0 32 32">
                            <defs>
                                <linearGradient x1="28.538%" y1="20.229%" x2="100%" y2="108.156%" id="logo-a">
                                    <stop stop-color="#A5B4FC" stop-opacity="0" offset="0%" />
                                    <stop stop-color="#A5B4FC" offset="100%" />
                                </linearGradient>
                                <linearGradient x1="88.638%" y1="29.267%" x2="22.42%" y2="100%" id="logo-b">
                                    <stop stop-color="#38BDF8" stop-opacity="0" offset="0%" />
                                    <stop stop-color="#38BDF8" offset="100%" />
                                </linearGradient>
                            </defs>
                            <rect fill="#6366F1" width="32" height="32" rx="16" />
                            <path
                                d="M18.277.16C26.035 1.267 32 7.938 32 16c0 8.837-7.163 16-16 16a15.937 15.937 0 01-10.426-3.863L18.277.161z"
                                fill="#4F46E5" />
                            <path
                                d="M7.404 2.503l18.339 26.19A15.93 15.93 0 0116 32C7.163 32 0 24.837 0 16 0 10.327 2.952 5.344 7.404 2.503z"
                                fill="url(#logo-a)" />
                            <path
                                d="M2.223 24.14L29.777 7.86A15.926 15.926 0 0132 16c0 8.837-7.163 16-16 16-5.864 0-10.991-3.154-13.777-7.86z"
                                fill="url(#logo-b)" />
                        </svg>
                    </a>
                    <div class="text-sm">
                        Have an account? <a class="font-medium text-indigo-500 hover:text-indigo-600"
                            href="signin.html">Sign In</a>
                    </div>
                </div>

                <!-- Progress bar -->
                <div class="px-4 pt-12 pb-8">
                    <div class="max-w-md mx-auto w-full">
                        <div class="relative">
                            <div class="absolute left-0 top-1/2 -mt-px w-full h-0.5 bg-gray-200" aria-hidden="true">
                            </div>
                            <ul class="relative flex justify-between w-full">
                                <li>
                                    <a class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-indigo-500 text-white"
                                        href="onboarding-01.html">1</a>
                                </li>
                                <li>
                                    <a class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-indigo-500 text-white"
                                        href="onboarding-02.html">2</a>
                                </li>
                                <li>
                                    <a class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-indigo-500 text-white"
                                        href="onboarding-03.html">3</a>
                                </li>
                                <li>
                                    <a class="flex items-center justify-center w-6 h-6 rounded-full text-xs font-semibold bg-indigo-500 text-white"
                                        href="onboarding-04.html">4</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="px-4 py-8">
                <div class="max-w-md mx-auto">

                    <div class="text-center">
                        <svg class="inline-flex w-16 h-16 fill-current mb-6" viewBox="0 0 64 64">
                            <circle class="text-green-100" cx="32" cy="32" r="32" />
                            <path class="text-green-500" d="m28.5 41-8-8 3-3 5 5 12-12 3 3z" />
                        </svg>
                        <h1 class="text-3xl text-gray-800 font-bold mb-8">Whoohoo! Welkom aan boord, jacoux. 🙌</h1>
                        <h2 class="text-1xl text-gray-500 font-bold mb-8">Laat nog even weten in welke sector je werkt
                            (voor de btw percentages)
                        </h2>

                        <div class="mb-8">
                            <label class="block text-sm font-medium mb-1" for="country">Sector <span
                                    class="text-red-500">*</span></label>
                            <select id="country" class="form-select w-full">
                                <option>Bank, verzekeringen, telecom</option>
                                <optgroup label="Dienstverlening & consultancy">
                                    <option>Consultancy dienstverlening aan bedrijven</option>
                                    <option>Handel,verhuur</option>
                                    <option>HR & uitzendbureau's</option>
                                    <option>IT consultancy</option>
                                </optgroup>
                                <option>Grafische, papier en kartonindustrie</option>
                                <optgroup label="Industrie & bouw">
                                    <option>Bouw</option>
                                    <option>Chemie, metaal</option>
                                    <option>Farmaindustrie</option>
                                    <option>Hout- & meubelindustrie<< /option>
                                    <option>Industrie (algemeen) </option>
                                    <option>Techniek & productie</option>
                                    <option>Voedingsindustrie</option>
                                </optgroup>
                                <option>IT</option>
                                <optgroup label="Land- en tuinbouw">
                                    <option>Milieu en agrarische sector</option>
                                    <option>Land-, tuin-, bosbouw, visserij </option>
                                </optgroup>
                                <optgroup label="Media, communicatie & events">
                                    <option>Evenementenbureau's, audiovisuele - en filmsector</option>
                                    <option>Marketingbureau</option>
                                    <option>Media & communicatie</option>
                                </optgroup>
                                <optgroup label="Openbare dienstverlening">
                                    <option>Energie, water</option>
                                    <option>Gezondheidszorg & welzijn</option>
                                    <option>Justitie, veiligheid en openbaar bestuur</option>
                                    <option>Onderwijs, cultuur & wetenschap</option>
                                </optgroup>
                                <optgroup label="Retail">
                                    <option>Textiel & kleding</option>
                                </optgroup>
                                <optgroup label="Socioculturele sector, cultuur, sport, jeugdwerk">
                                    <option>Beroepsopleidingen</option>
                                    <option>Jeugdwerk</option>
                                    <option>Milieu</option>
                                    <option>Musea en erfgoed</option>
                                    <option>Sociaal-cultuur werk</option>
                                    <option>Sport en cultuur</option>
                                </optgroup>
                                <option>Tabak</option>
                                <option>Toerisme, recreatie & horeca</option>
                                <option>Transport & Logistiek</option>
                                <option>Vastgoed & facility diensten</option>
                                <optgroup label="Vrije beroepen">
                                    <option>Advocaten, notarissen</option>
                                    <option>Apothekers, farmacie</option>
                                    <option>Architecten</option>
                                    <option>Dokters</option>
                                    <option>Andere vrije beroepen</option>
                                </optgroup>
                                <option>Andere, niet in de lijst vermeldde beroepen</option>
                            </select>
                        </div>
                        <div class="flex items-center justify-between">
                            <button (click)="setStep(3)" class="text-sm underline hover:no-underline">&lt;-
                                Terug</button>
                            <a class="btn bg-indigo-500 hover:bg-indigo-600 text-white" (click)="createOrg()">Ga naar je
                                dashboard
                                -&gt;</a>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>

    <!-- Image -->
    <div class="hidden md:block absolute top-0 bottom-0 right-0 md:w-1/2" aria-hidden="true">
        <img class="object-cover object-center w-full h-full" src="/assets/images/onboarding-image.jpg" width="760"
            height="1024" alt="Onboarding" />
        <img class="absolute top-1/4 left-0 transform -translate-x-1/2 ml-8 hidden lg:block"
            src="/assets/images/auth-decoration.png" width="218" height="224" alt="Authentication decoration" />
    </div>

</div>