<div id="sidebar"
    class="flex flex-col absolute z-40 left-0 top-0 lg:static lg:left-auto lg:top-auto lg:translate-x-0 transform h-screen overflow-y-scroll lg:overflow-y-auto no-scrollbar w-200 shrink-0 bg-gray-800 p-4 transition-all duration-200 ease-in-out translate-x-0">

    <!-- Sidebar header -->
    <div class="flex justify-between mb-10 pr-3 sm:px-2">
        <!-- Close button -->
        <button class="lg:hidden text-gray-500 hover:text-gray-400" aria-controls="sidebar" aria-expanded="true">
            <span class="sr-only">Close sidebar</span>
            <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.7 18.7l1.4-1.4L7.8 13H20v-2H7.8l4.3-4.3-1.4-1.4L4 12z"></path>
            </svg>
        </button>
        <!-- Logo -->
        <a class="block" href="index.html">
            <div class="">
                <a href="/" aria-current="page" aria-label="Homepage" class="flex-0 btn btn-ghost px-1">
                    <div class="font-title text-white inline-flex text-lg transition-all duration-200 md:text-3xl"><span
                            class="uppercase">Finance </span> <span class="text-gray-600 uppercase">wizard</span></div>
                </a>
            </div>
        </a>
    </div>

    <!-- Links -->
    <div class="space-y-8">
        <!-- Pages group -->
        <div>
            <h3 class="text-xs uppercase text-gray-500 font-semibold pl-3">
                <span class="lg:hidden lg:sidebar-expanded:block 2xl:block">Pages</span>
            </h3>
            <ul class="mt-3">
                <!-- Klanten -->
                <li class="px-3 py-2 rounded-sm mb-0.5 last:mb-0" routerLinkActive="bg-gray-900">
                    <a class="block text-pink-100 hover:text-white truncate transition duration-150 hover:text-gray-800"
                        [routerLink]="['/dashboard/clients/overview']">
                        <div class="flex items-center">
                            <svg class="shrink-0 h-6 w-6" viewBox="0 0 24 24">
                                <path class="fill-current text-gray-400" routerLinkActive=" text-indigo-500"
                                    d="M12 0C5.383 0 0 5.383 0 12s5.383 12 12 12 12-5.383 12-12S18.617 0 12 0z"></path>
                                <path class="fill-current text-gray-600" routerLinkActive=" text-indigo-600"
                                    d="M12 3c-4.963 0-9 4.037-9 9s4.037 9 9 9 9-4.037 9-9-4.037-9-9-9z"></path>
                                <path class="fill-current text-gray-400" routerLinkActive=" text-indigo-200"
                                    d="M12 15c-1.654 0-3-1.346-3-3 0-.462.113-.894.3-1.285L6 6l4.714 3.301A2.973 2.973 0 0112 9c1.654 0 3 1.346 3 3s-1.346 3-3 3z">
                                </path>
                            </svg>
                            <span class="text-sm font-medium ml-3 ">Klanten</span>
                        </div>
                    </a>
                </li>

                <!-- Facturen -->


                <li class="px-3 py-2 rounded-sm mb-0.5 last:mb-0" routerLinkActive="bg-gray-900 active">
                    <a class="block text-pink-100 hover:text-white truncate transition duration-150 hover:text-gray-200"
                        [routerLink]="['/dashboard/invoices/overview']">
                        <div class="flex items-center">
                            <svg class="shrink-0 h-6 w-6" viewBox="0 0 24 24">
                                <path class="fill-current text-gray-400" routerLinkActive="text-indigo-300"
                                    d="M13 6.068a6.035 6.035 0 0 1 4.932 4.933H24c-.486-5.846-5.154-10.515-11-11v6.067Z">
                                </path>
                                <path class="fill-current text-gray-500" routerLinkActive="text-indigo-500"
                                    d="M18.007 13c-.474 2.833-2.919 5-5.864 5a5.888 5.888 0 0 1-3.694-1.304L4 20.731C6.131 22.752 8.992 24 12.143 24c6.232 0 11.35-4.851 11.857-11h-5.993Z">
                                </path>
                                <path class="fill-current text-gray-600" routerLinkActive="text-indigo-600"
                                    d="M6.939 15.007A5.861 5.861 0 0 1 6 11.829c0-2.937 2.167-5.376 5-5.85V0C4.85.507 0 5.614 0 11.83c0 2.695.922 5.174 2.456 7.17l4.483-3.993Z">
                                </path>
                            </svg>
                            <span class="text-sm font-medium ml-3 ">Facturen</span>
                        </div>
                    </a>
                    <div class="show-active lg:sidebar-expanded:block 2xl:block">
                        <ul class="pl-9 mt-1">
                                <a class="block text-gray-400 hover:text-gray-200 transition duration-150 truncate"
                                    [routerLink]="['/dashboard/invoices/overview']">
                                    <span class="text-sm font-medium lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">
                                        Alle facturen
                                    </span>
                                </a>
                            <a class="block text-gray-400 hover:text-gray-200 transition duration-150 truncate"
                                [routerLink]="['/dashboard/invoices/create']">
                                <span
                                    class="text-sm font-medium lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">
                                    Maak factuur
                                </span>
                            </a>
                        </ul>
                    </div>
                </li>
                <li class="px-3 py-2 rounded-sm mb-0.5 last:mb-0" routerLinkActive="bg-gray-900">
                    <a class="block text-pink-100 hover:text-white truncate transition duration-150 hover:text-gray-200"
                        [routerLink]="['/dashboard/estimates/overview']">
                        <div class="flex items-center">
                            <svg class="shrink-0 h-6 w-6" viewBox="0 0 24 24">
                                <path class="fill-current text-gray-600" routerLinkActive=" text-indigo-600"
                                    d="M0 20h24v2H0z"></path>
                                <path class="fill-current text-gray-400" routerLinkActive=" text-indigo-400"
                                    d="M4 18h2a1 1 0 001-1V8a1 1 0 00-1-1H4a1 1 0 00-1 1v9a1 1 0 001 1zM11 18h2a1 1 0 001-1V3a1 1 0 00-1-1h-2a1 1 0 00-1 1v14a1 1 0 001 1zM17 12v5a1 1 0 001 1h2a1 1 0 001-1v-5a1 1 0 00-1-1h-2a1 1 0 00-1 1z">
                                </path>
                            </svg>
                            <span class="text-sm font-medium ml-3 ">Offertes</span>
                        </div>
                    </a>
                    <div class="show-active lg:sidebar-expanded:block 2xl:block">
                        <ul class="pl-9 mt-1">
                                            <a class="block text-gray-400 hover:text-gray-200 transition duration-150 truncate"
                                                [routerLink]="['/dashboard/estimates/overview']">
                                                <span class="text-sm font-medium lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">
                                                    Alle offertes
                                                </span>
                                            </a>
                            <a class="block text-gray-400 hover:text-gray-200 transition duration-150 truncate"
                                [routerLink]="['/dashboard/estimates/create']">
                                <span
                                    class="text-sm font-medium lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">
                                    Maak offerte
                                </span>
                            </a>
                        </ul>
                    </div>
                </li>

                <!-- producten -->
                <li class="px-3 py-2 rounded-sm mb-0.5 last:mb-0" routerLinkActive="bg-gray-900">
                    <a class="block text-pink-100 hover:text-white truncate transition duration-150"
                        [routerLink]="['/dashboard/products']">
                        <div class="flex items-center">
                            <svg class="shrink-0 h-6 w-6" viewBox="0 0 24 24">
                                <path class="fill-current text-gray-400" routerLinkActive=" text-indigo-400"
                                    d="M13 15l11-7L11.504.136a1 1 0 00-1.019.007L0 7l13 8z"></path>
                                <path class="fill-current text-gray-700" routerLinkActive=" text-indigo-700"
                                    d="M13 15L0 7v9c0 .355.189.685.496.864L13 24v-9z"></path>
                                <path class="fill-current text-gray-600" routerLinkActive=" text-indigo-600"
                                    d="M13 15.047V24l10.573-7.181A.999.999 0 0024 16V8l-11 7.047z"></path>
                            </svg>
                            <span class="text-sm font-medium ml-3">Producten</span>
                        </div>
                    </a>
                </li>

                <!-- Organisatie -->

                <li class="px-3 py-2 rounded-sm mb-0.5 last:mb-0" routerLinkActive="bg-gray-900">
                    <a class="block text-pink-100 hover:text-white truncate transition duration-150"
                        [routerLink]="['/dashboard/account']">
                        <div class="flex items-center">
                            <svg class="shrink-0 h-6 w-6" viewBox="0 0 24 24">
                                <path class="fill-current text-gray-600" routerLinkActive=" text-indigo-600"
                                    d="M19.714 14.7l-7.007 7.007-1.414-1.414 7.007-7.007c-.195-.4-.298-.84-.3-1.286a3 3 0 113 3 2.969 2.969 0 01-1.286-.3z">
                                </path>
                                <path class="fill-current text-gray-400" routerLinkActive=" text-indigo-400"
                                    d="M10.714 18.3c.4-.195.84-.298 1.286-.3a3 3 0 11-3 3c.002-.446.105-.885.3-1.286l-6.007-6.007 1.414-1.414 6.007 6.007z">
                                </path>
                                <path class="fill-current text-gray-600" routerLinkActive=" text-indigo-600"
                                    d="M5.7 10.714c.195.4.298.84.3 1.286a3 3 0 11-3-3c.446.002.885.105 1.286.3l7.007-7.007 1.414 1.414L5.7 10.714z">
                                </path>
                                <path class="fill-current text-gray-400" routerLinkActive=" text-indigo-400"
                                    d="M19.707 9.292a3.012 3.012 0 00-1.415 1.415L13.286 5.7c-.4.195-.84.298-1.286.3a3 3 0 113-3 2.969 2.969 0 01-.3 1.286l5.007 5.006z">
                                </path>
                            </svg>
                            <span class="text-sm font-medium ml-3">Organisatie</span>
                        </div>
                    </a>
                </li>
                <!-- <li class="px-3 py-2 rounded-sm mb-0.5 last:mb-0" routerLinkActive="bg-gray-900">
    <a class="block text-pink-100 hover:text-white truncate transition duration-150" [routerLink]="['/dashboard/chat']">
        <div class="flex items-center">

            <svg class="shrink-0 h-6 w-6" viewBox="0 0 24 24">
                <path class="fill-current text-gray-600" routerLinkActive=" text-indigo-600"
                    d="M14.5 7c4.695 0 8.5 3.184 8.5 7.111 0 1.597-.638 3.067-1.7 4.253V23l-4.108-2.148a10 10 0 01-2.692.37c-4.695 0-8.5-3.184-8.5-7.11C6 10.183 9.805 7 14.5 7z">
                </path>
                <path class="fill-current text-gray-400" routerLinkActive=" text-indigo-400"
                    d="M11 1C5.477 1 1 4.582 1 9c0 1.797.75 3.45 2 4.785V19l4.833-2.416C8.829 16.85 9.892 17 11 17c5.523 0 10-3.582 10-8s-4.477-8-10-8z">
                </path>
            </svg>

            <span class="text-sm font-medium ml-3">Chat</span>
        </div>
    </a>
</li> -->
                <!-- <li class="px-3 py-2 rounded-sm mb-0.5 last:mb-0" routerLinkActive="bg-gray-900 active">
    <a class="block text-pink-100 hover:text-white truncate transition duration-150"
        [routerLink]="['/dashboard/recruitment']">
        <div class="flex items-center">
            <svg class="shrink-0 h-6 w-6" viewBox="0 0 24 24">
                <path class="fill-current text-gray-400" routerLinkActive=" text-indigo-400"
                    d="M18.974 8H22a2 2 0 012 2v6h-2v5a1 1 0 01-1 1h-2a1 1 0 01-1-1v-5h-2v-6a2 2 0 012-2h.974zM20 7a2 2 0 11-.001-3.999A2 2 0 0120 7zM2.974 8H6a2 2 0 012 2v6H6v5a1 1 0 01-1 1H3a1 1 0 01-1-1v-5H0v-6a2 2 0 012-2h.974zM4 7a2 2 0 11-.001-3.999A2 2 0 014 7z">
                </path>
                <path class="fill-current text-gray-700" routerLinkActive=" text-indigo-700"
                    d="M12 6a3 3 0 110-6 3 3 0 010 6zm2 18h-4a1 1 0 01-1-1v-6H6v-6a3 3 0 013-3h6a3 3 0 013 3v6h-3v6a1 1 0 01-1 1z">
                </path>

            </svg>
            <span class="text-sm font-medium ml-3">Rekrutering</span>
        </div>
    </a>
    <div class="show-active lg:sidebar-expanded:block 2xl:block">
        <ul class="pl-9 mt-1">
            <a class="block text-gray-400 hover:text-gray-200 transition duration-150 truncate"
                [routerLink]="['/dashboard/recruitment']">
                <span class="text-sm font-medium lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200"
                    routerLinkActive="text-indigo-200">
                    Vacatures
                </span>
            </a>
            <a class="block text-gray-400 hover:text-gray-200 transition duration-150 truncate"
                [routerLink]="['/dashboard/recruitment/create-job']">
                <span class="text-sm font-medium lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200"
                    routerLinkActive="text-indigo-200">
                    Maak nieuwe vacature
                </span>
            </a>
            <a class="block text-gray-400 hover:text-gray-200 transition duration-150 truncate"
                [routerLink]="['/dashboard/recruitment']">
                <span class="text-sm font-medium lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">
                    Lijsten
                </span>
            </a>
            <a class="block text-gray-400 hover:text-gray-200 transition duration-150 truncate"
                [routerLink]="['/dashboard/recruitment/all-candidates']">
                <span class="text-sm font-medium lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200"
                    routerLinkActive="text-indigo-200">
                    Kandidaten
                </span>
            </a>
        </ul>
    </div>
</li> -->
            </ul>
        </div>
        <!-- More group -->

    </div>
</div>