<div class="flex flex-col">
  <div class="title-bar">
  <h1 class="text-2xl md:text-3xl text-gray-800 font-bold">Alle Klanten ✨</h1>
          <div class="content-center">
            <button (click)="addNewClient()" class="btn text-white	s btn-primary">Nieuwe klant toevoegen</button>
            <dialog open *ngIf="visible" class="modal-open modal">
              <app-create-client-modal [client]="client" (toggle)="addClass()"></app-create-client-modal>
            </dialog>
          
          </div>
          </div>

  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email">
        Email
      </th>
      <td mat-cell *matCellDef="let element"> {{element?.email}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Naam
      </th>
      <td mat-cell *matCellDef="let element"> {{element?.name}}</td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="responsible">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        responsible
      </th>
      <td mat-cell *matCellDef="let element"> {{element?.responsible?.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="vat">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
BTW nummer      </th>
      <td mat-cell *matCellDef="let element"> {{element?.vat}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Acties
      </th>
      <td mat-cell *matCellDef="let element">
        <input type="checkbox" id="delete_invoice" class="modal-toggle" />
        <div class="modal " role="dialog">
          <div class="modal-box bg-gray-800 border-gray-100 ">
            <form method="dialog">
              <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
            </form>
            <h3 class="font-bold text-lg">Hallo,</h3>
            <p class="py-4">Weet je zeker dat je deze klant wilt verwijderen?</p>
            <div class="modal-action">
              <label for="delete_invoice" class="btn btn-wide btn-secundary">nee, ik heb mij vergist!</label>
              <label for="delete_invoice" (click)="deleteClient(element.id)" class="btn btn-wide btn-primary">Ja,
                verwijder klant</label>
            </div>
          </div>
        </div>
        <label for="delete_invoice" class="btn">
          <mat-icon aria-hidden="false" aria-label="Delete invoice" fontIcon="delete"></mat-icon>
        </label>
        <label for="my-modal" (click)="editClient(element.id)" class="btn">
          <mat-icon aria-hidden="false" aria-label="edit" fontIcon="edit"></mat-icon>
        </label>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>